{% extends 'dash/main.html' %}
{% load static %}
{% block content %}
<style>
    #productDIV{
        background-color: pink;
        margin-left: 300px
    }

</style>

<div class="card" id="productDIV" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'dash/bottle.jpg' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">${{product.price}}</p>
    <a href="#" class="btn btn-primary">Place Order</a>
  </div>
</div>

{% endblock %}